body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #dfdae5, #e5e1f2);
  gap: 40px;
  section {
    scroll-margin-top: 70px;
  }
  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
    margin: 10px 0;
  }

  button {
    cursor: pointer;
  }
}
h2 {
  font-size: 34px;
  color: #333333;
  animation: fade-in 1s ease-in-out;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}
h3 {
  font-size: 28px;
  color: #e63946;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
