body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  gap: 40px;
  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
    margin: 10px 0;
  }

  button {
    cursor: pointer;
  }
}
